html, body {
    font-family: "Jersey 10", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    overflow:hidden;
}

.bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    width: 189px;
    height: 139px;
    z-index: 1001;
    position: absolute;
    top: -10px;
}

.logo-text {
    position: absolute;
    top: 0;
    left: 10%;
    font-size: 64px;
    font-weight: normal;
}

.logo-text-down {
    position: absolute;
    top: -4px;
    left: 192px;
    font-size: 64px;
    color: #E2B8F8;
    font-weight: normal;
}

nav {
    text-align: center;
    margin-top: 50px;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nav-item {
    margin: 0 20px;
}

.nav-link {
    display: flex;
    align-items: flex-end;
    font-size: 36px;
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    position: relative;
    left: 100%;
}

.nav-icon {
    font-size: 36px;
    margin-right: 12px;
    flex-shrink: 0;
    object-fit: contain;
}

.icon-home    { width: 50px; height: 50px; transform: translateY(-60%);}
.icon-market  { width: 50px; height: 50px; transform: translateY(-60%);}
.icon-reviews { width: 50px; height: 50px; transform: translateY(-60%);}
.icon-about   { width: 50px; height: 50px; transform: translateY(-60%);}
.icon-cart    { width: 50px; height: 50px; transform: translateY(-60%);}

.nav-text-wrapper{
    position: relative;
    display: inline-block;
    transform: translateY(-100%);
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger span {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 4px;
    transition: 0.3s;
}

.text-front {
    color: #E2B8F8;
    z-index: 1;
    transition: transform .3s ease, color .3s ease;
    position: relative;
}

.text-back {
    color: #000;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(3px);
    transition: transform .3s ease, color .3s ease;
}

.nav-link:hover .text-front {
    transform: translateY(-3px);
    color: #D17DC2;
}

.nav-link:hover .text-back {
    transform: translateY(6px);
    color: #555;
}
.reviews-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 40px;
    position: relative;
    z-index: 2;
    width: 80%;
    height: 60vh;
}

.review-card {
    width: 230px;
    height: 140px;
    background-color: #D66DFF; /* или другой яркий фиолетово-розовый */
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    font-family: "Jersey 10", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}

.review-text {
    font-size: 14px;
    color: #000;
    margin: 0;
    line-height: 1.2;
}

.divider {
    margin: 6px 0;
    border: none;
    border-top: 1px solid #000;
    width: 100%;
}

.review-user {
    display: flex;
    align-items: center;
    gap: 6px;
}

.avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-size: 15px;
    font-weight: normal;
    color: #000;
}

@media (max-width: 1024px) {
    .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute; /* фиксируем его */
        top: 20px; /* расстояние от верха */
        right: 20px; /* от правого края */
        z-index: 1002;
    }


    .burger.toggle span:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
        background: #000;
    }

    .burger.toggle span:nth-child(2) {
        opacity: 0;
    }

    .burger.toggle span:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);
        background: #000;
    }


    /* Скрыть навигацию по умолчанию */
    .nav-list {
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(135deg, #D263EE, #8B3D89, #4D2E7B, #39254E, #181D31, #352644, #141E2F);
        flex-direction: column;
        align-items: flex-start;
        width: 200px;
        height: 100vh; /* во всю высоту экрана */
        padding: 0; /* убираем все отступы */
        margin: 0; /* если нужно */
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1001;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-left: 2px solid black;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .nav-item {
        margin: 20px;
    }

    .nav-link {
        left: 0;
    }

    .logo-text {
        position: absolute;
        top: 0;
        left: 19%;
        font-size: 64px;
        font-weight: normal;
    }
}

@media (max-width: 430px) {
    .logo {
        width: 145px;
        height: 107px;
        z-index: 1001;
        position: absolute;
        top: -10px;
    }

    .logo-text {
        position: absolute;
        top: 0;
        left: 32%;
        font-size: 46px;
        font-weight: normal;
    }

    .logo-text-down {
        position: absolute;
        top: -3px;
        left: 32%;
        font-size: 46px;
        color: #E2B8F8;
        font-weight: normal;
    }

    .reviews-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        padding: 40px;
        position: relative;
        z-index: 2;
        width: 80%;
        height: 70vh;
        top: 10%;
    }
}